*

# Top-level
!.editorconfig
!.envrc
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!README.md
!cornucopia.toml
!deny.toml
!flake.lock
!flake.nix
!rust-toolchain.toml

# Cargo + CI
!.cargo/
!.cargo/**
!.github/
!.github/**

# Tack
!.tack/
!.tack/default.nix
!.tack/pins.toml
!.tack/pins.lock.json

# Rust crates
!crates/
!crates/**

# Schema + queries
!migrations/
!migrations/**
!queries/
!queries/**

# Static assets
!static/
!static/**

# Browser extension
!extension/
!extension/**
extension/dist/

# Nix + deploy
!nix/
!nix/**

# Docs + scripts
!docs/
!docs/**
!scripts/
!scripts/**
